:root {
  --very_dark_purple: #0d001d;
  --dark_purple: #211951;
  --medium_purple: #836fff;
  --cyan: #15f5ba;
  --almost_white: #f0f3ff;
  --light_red: #ff4d4d;
  --dark_red: #cc0000;
}

body {
  background-color: var(--dark_purple);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body > img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  z-index: -1;
  transform: rotateX(180deg);
}

body > a{
  position: fixed;
  top: 30%;
  left: 0;
  padding: 1em;
  border-radius: 0 2em 2em 0;
  background-color: #15f5b97a;
  color: var(--almost_white);
  z-index: 3;
  transition: all 200ms ease-in-out;
}

body > a:hover{
  background-color: var(--cyan);
  color: var(--dark_purple);
}

nav {
  display: flex;
  padding: 0.8em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  backdrop-filter: blur(5px);
  box-shadow: 0 0.1em 1.5em 0 #826fff65;
  z-index: 3;
  transition: box-shadow 200ms linear;
}

nav header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--almost_white);
}

nav header img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--very_dark_purple);
}

nav input,
nav label {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  height: 2em;
  width: 2em;
  z-index: 2;
}

nav input {
  display: none;
}

nav label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

nav label div {
  width: 100%;
  height: 0.2em;
  background-color: var(--almost_white);
  transition: transform 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav:has(input:checked) aside {
  transform: translateX(0);
}

nav:has(input:checked) label div {
  background-color: var(--almost_white);
}

nav:has(input:checked) label div:first-child {
  transform: rotateZ(40deg) translate(45%);
}

nav:has(input:checked) label div:nth-child(2) {
  transform: translateX(1000%);
}

nav:has(input:checked) label div:nth-child(3) {
  transform: rotateZ(140deg) translate(-45%);
}

nav aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
  z-index: 1;
  background-color: var(--dark_purple);
  transform: translateX(100%);
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

nav aside ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: clamp(1.2em, 0.4em + 0.8vw, 1.5em);
}

nav aside ul li {
  padding: 1em;
  text-align: center;
  color: var(--almost_white);
}

nav aside ul a {
  border-bottom: 1px solid #ffffff60;
}

nav aside button {
  cursor: pointer;
  padding: 0.8em 2em;
  font-size: clamp(1.2em, 0.4em + 0.8vw, 1.5em);
  border-radius: 2em;
  
}

.loggedButton{
  background-color: var(--medium_purple);
  border: 1px solid transparent;
  color: var(--almost_white);
}

.notLoggedButton{
  background-color: var(--light_red);
  border: 1px solid var(--dark_red);
  color: var(--almost_white);
}


.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.heroSection aside {
  display: none;
}

.heroSection main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  text-align: center;
  padding: 0 2em;
  max-width: 25em;
  width: 100%;
}

.heroSection main h2 {
  line-height: 1.6;
  font-size: clamp(1.7em, 1.1em + 1.1vw, 2.3em);
  color: var(--cyan);
  text-transform: uppercase;
  font-weight: 700;
}

.heroSection main h2 span {
  color: var(--almost_white);
  font-weight: 400;
  text-transform: none;
}

.heroSection main a {
  width: 100%;
}

.heroSection main a button {
  cursor: pointer;
  color: var(--very_dark_purple);
  background-color: var(--cyan);
  border: 1px solid transparent;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 2em;
  font-weight: 700;
}

.quemSomosSection {
  padding: 6em 1em;
  background-color: var(--very_dark_purple);
}

.quemSomosSection aside,
.chat aside {
  display: none;
}

.quemSomosSection main,
.chat main,
.sustentabilidade main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.quemSomosSection main h2,
.chat main h2,
.sustentabilidade main h2 {
  color: var(--cyan);
  font-size: clamp(1.7em, 1.1em + 1.1vw, 2.3em);
  font-weight: 600;
}

.quemSomosSection main p,
.chat main p {
  color: #f0f3ffb6;
  font-size: clamp(1em, 0.4em + 0.8vw, 1.5em);
  line-height: 1.8;
}

.chat,
.sustentabilidade {
  position: relative;
  position: relative;
  padding: 6em 1em;
}

.chat main h2 {
  display: flex;
  align-items: center;
}

.chat main h2 img {
  width: 2em;
  height: 2em;
}

.sustentabilidade aside {
  display: none;
}

.sustentabilidade > img {
  /* Blob */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.sustentabilidade main p {
  color: #f0f3ffb6;
  font-size: clamp(1em, 0.4em + 0.8vw, 1.5em);
  line-height: 1.8;
  text-shadow: 0 0 0.5em var(--dark_purple);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  position: relative;
  width: 100%;
  padding: 4em 1em;
  background-color: var(--very_dark_purple);
  margin: 10em 0 0 0;
}

footer aside {
  display: flex;
  gap: 1em;
  align-items: center;
  color: var(--almost_white);
}

footer aside h2{
  font-size: clamp(1.7em, 1.1em + 1.1vw, 2.3em);

}

footer aside img{
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

footer main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

footer main h3{
  display: flex;
  align-items: center;
  gap: .5em;
  color: var(--almost_white);
  font-size: clamp(1.2em, 1em + 1vw, 2.3em);
}

footer main div{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  gap: 1em;
  }

footer main div a{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0f3ffb6;
  gap: .5em;
  font-size: clamp(1em, 0.4em + 0.8vw, 1.5em);
}

footer main div a:hover{
  text-decoration: underline;
}

footer main img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}

footer > div:nth-of-type(1){
  width: max-content;
  font-size: .7em;
  color: var(--almost_white);
}

footer > a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(-50%) translateY(-240%);
  background-color: var(--medium_purple);
  border-radius: 50%;
}

footer > a img{
  width: 3em;
  height: 3em;
}

/* Tablet */
@media only screen and (min-width: 37.5em) {
  nav {
    padding: 1em;
  }

  nav header img {
    width: 7em;
    height: 7em;
  }

  nav input,
  nav label {
    left: 85%;
    z-index: 2;
  }

  nav:has(input:checked) > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000033;
  }

  nav aside {
    width: 50%;
  }

  .heroSection {
    justify-content: space-around;
  }

  .heroSection aside {
    display: flex;
    box-shadow: 0 0 2em 0.5em var(--very_dark_purple);
    border-radius: 50%;
  }

  .heroSection aside img {
    max-width: 18em;
    width: auto;
    max-width: 18em;
    width: auto;
    height: auto;
    border-radius: 50%;
  }

  .quemSomosSection {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    padding: 9em 1em;
  }

  .quemSomosSection aside,
  .chat aside {
    display: flex;
    align-items: center;
  }

  .quemSomosSection aside img {
    width: clamp(25em, 12.5em + 12.5vw, 30em);
    filter: brightness(0.7) contrast(1.5);
  }

  .quemSomosSection main h2,
  .chat main h2 {
    display: none;
  }

  .quemSomosSection main p,
  .chat main p {
    color: var(--almost_white);
    line-height: 2.2;
  }

  .chat {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5em 2em;
  }

  .chat aside img {
    width: 50em;
  }

  .chat main {
    width: 100%;
  }

  .chat main p {
    line-height: 2.2;
  }

  .sustentabilidade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .sustentabilidade aside {
    display: flex;
    align-items: center;
  }

  .sustentabilidade aside img {
    width: 32em;
    height: auto;
  }

  .sustentabilidade main {
    width: 100%;
  }

  .sustentabilidade main h2 {
    display: none;
  }

  .sustentabilidade main p {
    text-align: justify;
  }

  .sustentabilidade > img {
    /* Blob */
    position: absolute;
    left: 100%;
    top: 50%;
    width: 80%;
    height: auto;
    object-fit: contain;
  }

  footer aside {
    width: 100%;
    padding: 0 2em;
    align-items: center;
  }
  
  footer aside img{
    width: 7em;
    height: 7em;
  }
}

/* Desktop */
@media only screen and (min-width: 75em) {
  nav {
    top: 3%;
    justify-content: space-between;
    padding: 1.2em;
    width: calc(100% - 25vw);
    border-radius: 2em;
    box-shadow: 0 0 1.5em 0 #826fff65;
  }

  nav header img {
    width: 7em;
    height: 7em;
  }

  nav header h1 {
    font-size: 2em;
  }

  nav input,
  nav label {
    display: none;
  }

  nav label div {
    display: none;
  }

  nav aside {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 4em;
    width: auto;
    transform: translateX(0);
    transition: none;
    background-color: transparent;
  }

  nav aside ul {
    flex-direction: row;
    width: auto;
    gap: 1em;
  }

  nav aside ul li {
    position: relative;
    padding: 0;
  }

  nav aside ul li div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--cyan);
    border-radius: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  nav aside ul li:hover div {
    transform: scaleX(1);
  }

  nav aside ul a {
    border-bottom: none;
  }

  nav aside button {
    padding: 0.5em 1.5em;
        transition: all 200ms ease-in-out;
  }

  .loggedButton{
    background-color: transparent;
    border: 1px solid var(--medium_purple);
    color: var(--almost_white);
  }

  .notLoggedButton{
    background-color: transparent;
    border: 1px solid var(--light_red);
    color: var(--almost_white);
  }

  .notLoggedButton:hover{
    background-color: var(--light_red);
    border: 1px solid transparent;
    color: var(--very_dark_purple);
  }

  .loggedButton:hover{
    background-color: var(--medium_purple);
    border: 1px solid transparent;
    color: var(--very_dark_purple);
  }

  nav > div {
    display: none;
  }

  .heroSection {
    padding: 5em 0 0 0;
  }

  .heroSection aside img {
    width: 22em;
  }

  .heroSection main {
    gap: 6em;
    max-width: 30em;
    overflow: hidden;
  }

  .heroSection main h2 {
    text-align: start;
    width: 100%;
  }

  .heroSection main a {
    width: 100%;
  }

  .heroSection main a button {
    position: relative;
    background-color: transparent;
    border: 1px solid var(--cyan);
    color: var(--almost_white);
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .heroSection main a button:hover {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--very_dark_purple);
  }

  .heroSection main a button:hover div {
    transform: translateX(-50%) translateY(-50%) scaleX(1);
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .heroSection main a button:active {
    transform: scale(0.9);
  }

  .heroSection main a button div {
    position: absolute;
    background-color: var(--cyan);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scaleY(0);
    transform-origin: bottom;
    transform: translateX(-50%) translateY(-50%) scaleY(0);
    transform-origin: bottom;
    width: 100%;
    height: 100%;
    border-radius: 3em;    
    border-radius: 3em;    
    z-index: -1;
  }

  .quemSomosSection,
  .chat,
  .sustentabilidade {
    padding: 5em 8em;
  }

  .sustentabilidade main {
    width: 50%;
  }
}