:root {
  --very_dark_purple: #0d001d;
  --dark_purple: #211951;
  --medium_purple: #836fff;
  --cyan: #15f5ba;
  --almost_white: #f0f3ff;
}

body {
  background-color: var(--dark_purple);
  min-height: 400vh;
  min-height: 400svh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


nav {
  display: flex;
  padding: 0.8em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  backdrop-filter: blur(5px);
  box-shadow: 0 0.1em 1.5em 0 #826fff65;
  z-index: 3;
  transition: box-shadow 200ms linear;
}

nav header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--almost_white);
}

nav header img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--very_dark_purple);
}

nav input,
nav label {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  height: 2em;
  width: 2em;
  z-index: 2;
}

nav input {
  display: none;
}

nav label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

nav label div {
  width: 100%;
  height: 0.2em;
  background-color: var(--almost_white);
  transition: transform 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav:has(input:checked) aside {
  transform: translateX(0);
}

nav:has(input:checked) label div {
  background-color: var(--almost_white);
}

nav:has(input:checked) label div:first-child {
  transform: rotateZ(40deg) translate(45%);
}

nav:has(input:checked) label div:nth-child(2) {
  transform: translateX(1000%);
}

nav:has(input:checked) label div:nth-child(3) {
  transform: rotateZ(140deg) translate(-45%);
}

nav aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
  z-index: 1;
  background-color: var(--dark_purple);
  transform: translateX(100%);
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

nav aside ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: clamp(1.2em, 0.4em + .8vw, 1.5em);
}

nav aside ul li {
  padding: 1em;
  text-align: center;
  color: var(--almost_white);
}

nav aside ul a {
  border-bottom: 1px solid #ffffff60;
}

nav aside button {
  cursor: pointer;
  padding: 0.8em 2em;
  font-size: clamp(1.2em, 0.4em + .8vw, 1.5em);
  border-radius: 2em;
  background-color: var(--medium_purple);
  border: 1px solid transparent;
  color: var(--almost_white);
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.heroSection aside {
  display: none;
}

.heroSection main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  text-align: center;
  padding: 0 2em;
  max-width: 25em;
  width: 100%;
}

.heroSection main h1 {
  color: var(--almost_white);
  font-size: clamp(2.2em, 1.3em + 1.3vw, 2.8em);
}

.heroSection main h1 span {
  color: var(--cyan);
}

.heroSection main p {
  color: #f0f3ffb4;
  font-size: clamp(1em, .8em + .8vw, 1.8em);
}

.heroSection main a {
  width: 100%;
}

.heroSection main button {
  cursor: pointer;
  background-color: var(--cyan);
  border: 1px solid transparent;
  font-size: clamp(1em, .8em + .8vw, 1.8em);
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 2em;
  font-weight: 700;
}

/* Tablet */
@media only screen and (min-width: 37.5em) {
  nav {
    padding: 1em;
  }

  nav header img {
    width: 7em;
    height: 7em;
  }

  nav input,
  nav label {
    left: 85%;
    z-index: 2;
  }

  nav:has(input:checked)>div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000033;
  }

  nav aside {
    width: 50%;
  }

  .heroSection {
    justify-content: space-around;
  }

  .heroSection aside {
    display: inline-block;
    box-shadow: 0 0 1em 0 var(--medium_purple);
    border-radius: 50%;
  }

  .heroSection aside img {
    width: 18em;
    height: auto;
    border-radius: 50%;
  }

}

/* Desktop */
@media only screen and (min-width: 75em) {
  nav {
    top: 3%;
    justify-content: space-between;
    padding: 1.2em;
    width: calc(100% - 25vw);
    border-radius: 2em;
    box-shadow: 0 0 1.5em 0 #826fff65;
  }


  nav header img {
    width: 7em;
    height: 7em;
  }

  nav header h1 {
    font-size: 2em;
  }

  nav input,
  nav label {
    display: none;
  }

  nav label div {
    display: none;
  }

  nav aside {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 4em;
    width: auto;
    transform: translateX(0);
    transition: none;
    background-color: transparent;
  }

  nav aside ul {
    flex-direction: row;
    width: auto;
    gap: 1em;
  }

  nav aside ul li {
    position: relative;
    padding: 0;
  }

  nav aside ul li div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .1em;
    background-color: var(--cyan);
    border-radius: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  nav aside ul li:hover div {
    transform: scaleX(1)
  }

  nav aside ul a {
    border-bottom: none;
  }

  nav aside button {
    padding: .5em 1.5em;
    background-color: transparent;
    border: 1px solid var(--medium_purple);
    color: var(--almost_white);
    transition: all 200ms ease-in-out;
  }

  nav aside button:hover {
    background-color: var(--medium_purple);
    border: 1px solid transparent;
    color: var(--very_dark_purple);
  }

  nav>div {
    display: none;
  }

  .heroSection {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }

  .heroSection aside {
    display: flex;
    box-shadow: 0 0 1em 0 var(--medium_purple);
    border-radius: 50%;
  }

  .heroSection aside img {
    width: 22em;
    height: auto;
    border-radius: 50%;
  }

  .heroSection main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 25em;
    align-items: flex-start;
  }

  .heroSection main p {
    font-size: 1.4em;
  }

  .heroSection main h1 {
    font-size: 2.5em;
  }

  .heroSection main a {
    width: 100%;
  }

  .heroSection main button {
    cursor: pointer;
    width: 100%;
    padding: 1em 1.5em;
    font-size: 1em;
    font-weight: bolder;
    background-color: var(--cyan);
    border: 1px solid transparent;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .heroSection main button:hover {
    background-color: transparent;
    color: var(--almost_white);
    border: 1px solid var(--cyan);
  }
}